.why-container{
    background-color: antiquewhite;
    width: 85vw;
    margin: auto;
    border-radius: 15px;

}

.why-heading{
    color: black;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 450;
    /* background-color: aquamarine; */
    background-color: var(--yellow);
    padding: 10px 0;
    padding-left: 2vw;
    margin: 0;

}

.why-content{
    border-radius: 15px;
    padding: 15px;
    font-size: 18px;
    margin-top: 0;
}