.home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 70vh;
    margin-top: 30px;
    align-items: center;
}

.home-button{
    cursor: pointer;
    width: 250px;
    height: 75px;
    font-size: 20px;
    background-color: var(--yellow);
    border: navajowhite;
    border-radius: 10px;
}