.go-table, .go-home{
    width: 50px;
    cursor: pointer;
}

.go-history{
    width: 50px;
    cursor: pointer;
    float: right;
}

.answer-buttons{
    bottom: 1em;
    position: absolute;
    width: 50vw;
    display: flex;
    column-gap: 8em;
    justify-content: space-around;
}

@media only screen and (max-width: 550px) {
    .answer-buttons{
        width: 100%;
    }
    .go-history, .go-home, .go-table{
        width: 25px;
    }
}