.practice{
    width: 50vw;
    min-height: 40vh;
    padding: 80px 50px;
    padding-top: 5px;
    border-radius: 15px;
    align-items: center;
    margin: auto;
    margin-top: 6vh;
    border: 10px outset gainsboro;
    background-color: var(--yellow);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    position: relative;
}

.answer{
    margin: 40px 0;
    font-size: 20px;
    min-height: 40px;
    height: fit-content;
    padding: 8px;
    border: none;
    color: #000;
    width: 90%;
    border-radius: 5px;
}


@media only screen and (max-width: 550px) {

    .answer{
        font-size: 16px;
        min-height: 22px;
        margin: 0px;
        width: 90%;
    }

    .practice{
        width: 75vw;
        padding: 80px 10px;
        padding-top: 5px;
    }
}