.footer-text{
    color: var(--green);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    margin: 20px;
}

.footer{
    bottom: 0;
    position: absolute;
}

.footer-link{
    text-decoration: none;
    font-weight: 750;
    color: var(--blue);
}