
.table{
    overflow: auto;
    max-height: 50vh;
    font-family: arial, sans-serif;
}

.table::-webkit-scrollbar {
    display: none;
}

.cell{
    border: 1px solid var(--black);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: unset !important;
}

.row-header .cell{
    color: white;
    background: var(--green);
}
  .row .cell{
    background-color: white;
    color: black;
}