.Onboarding{
    color: white;
    margin: auto;
    width: 50vw;
    min-height: 50vh;
    height: fit-content;
    padding: 30px;
    background-color: var(--yellow);
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0px rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.video{
    width: 40vw;
    height: 50vh;
}

.content{
    flex-grow: 2;
}

.next{
    background-color: var(--navy);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 15px;
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
    float: right;
}

.username-input{
    font-size: 20px;
    height: 30px;
    border: none;
    color: #000;
}

.next:disabled{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}