:root{
  --dark-navy: #1f354b;
  --navy: #294461;
  --green: #11c684;
  --purple: #6b74e0;
  --pink: #f878b5;
  --blue: #0671d5;
  --yellow: #f7bf31;
  --light-blue: #6cdfef;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

